[Desktop Entry]
Type=Service
Encoding=UTF-8

ServiceTypes=KonqPopupMenu/Plugin

MimeType=image/*;video/*;
Actions=markAsToCloud;

X-KDE-Submenu=Insync
X-KDE-Priority=TopLevel


[Desktop Action markAsToCloud]
Exec=photoExporter/markAsToCloud.sh %u
Name=mark file as "to cloud"
Icon=mail-forward